*.log
*.pot
*.pyc
*.~vsd
*.*#
cifs*
*.*~
local_settings.py
dp.sqlite3
malucrawl/staticfiles/
malucrawl/local_settings.py

#latex
*.aux*
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

report.d
report.nls
report.fls
report.nlo
report.bbl*
report.blg
report.nlg
report.out*
report.pdf*
report.toc*
report.run*

#vim
*.swp
*.swo

#extras
price.tex

