*.log
*.pot
*.pyc
*.~vsd
*.*#
cifs*
*.*~
local_settings.py
dp.sqlite3
malucrawl/staticfiles/
malucrawl/local_settings.py

#latex
*.aux*
report.d
report.nls
report.fls
report.nlo
report.bbl*
report.blg
report.nlg
report.out*
report.pdf*
report.toc*
report.run*

#vim
*.swp
*.swo
